@model IEnumerable<St.Marys_Donor.Models.Donor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <p>
        <label for="bloodType">Blood Type:</label>
        <select id="bloodType">
            <option value="null"></option>
            <option value="a+">A+</option>
            <option value="a-">A-</option>
            <option value="b+">B+</option>
            <option value="b-">B-</option>
            <option value="ab+">AB+</option>
            <option value="ab-">AB-</option>
            <option value="o+">O+</option>
            <option value="o-">O-</option>
        </select>
        <label for="ethnicity">Ethnicity:</label>
        <select id="ethnicity">
            <option value="null"></option>
            <option value="white">White</option>
            <option value="africanAmerican">African American</option>
            <option value="native">Native American / Alaskan Native</option>
            <option value="pacificIslander">Pacific Islander</option>
            <option value="nativeHawaiian">Native Hawaiian</option>
            <option value="asian">Asian</option>
        </select>
        <label for="medications">Medications:</label>
        <select id="medications">
            <option value="null"></option>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <label for="allergies">Allergies:</label>
        <select id="allergies">
            <option value="null"></option>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <label for="gender">Gender:</label>
        <select id="gender">
            <option value="null"></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </p>
    <p>
        <label for="minAge">Minimum Age</label>
        <input type="text" id="minAge" name="minAge">
        <label for="minWeight">Minimum Weight</label>
        <input type="text" id="minWeight" name="minWeight">
        <label for="minHeight">Minimum Height</label>
        <input type="text" id="minHeight" name="minHeight">
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
</form>
<table class="table" id="donorTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.IsMale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.Ethnicity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.Hasallergies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory.OnMedications)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //class ="row"
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistory.BloodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistory.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistory.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistory.Weight)
            </td>
            <td>
                @{
                    if (item.MedicalId == null)
                    {
                        @:
                    }
                    else
                    {
                        if (item.MedicalHistory.IsMale == true)
                        {
                            @:Male
                        }
                        else if (item.MedicalHistory.IsMale == false)
                        {
                            @:Female
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistory.Ethnicity)
            </td>
            <td>
                @{
                    if (item.MedicalId == null)
                    {
                        @:
                    }
                    else
                    {
                        if (item.MedicalHistory.Hasallergies == true)
                        {
                            @:True
                        }
                        else if (item.MedicalHistory.Hasallergies == false)
                        {
                            @:None
                        }
                    }
                }
            </td>
            <td>
                @{
                    if (item.MedicalId == null)
                    {
                        @:
                    }
                    else
                    {
                        if (item.MedicalHistory.OnMedications == true)
                        {
                            @:True
                        }
                        else if (item.MedicalHistory.OnMedications == false)
                        {
                            @:None
                        }
                    }
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="EmailDonor" asp-route-id="@item.Id">Email Donor</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="site.js"></script>
