@model IEnumerable<St.Marys_Donor.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patients</h1>

<p>
    <a asp-action="Edit">Edit Personal Profile</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Bio)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@patient.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @patient.FullName
                </td>
                <td>@patient.Bio</td>>
                <td>
                    <a asp-action="Details" asp-route-id="@patient.Id">Details</a> |
                    <a asp-action="Donate" asp-route-id="@patient.Id">Donate</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
