@model IEnumerable<St.Marys_Donor.Models.Patient>
<<<<<<< HEAD
=======

>>>>>>> 7503a61f8a6f2aa84c0b33148eca7507ab7e5337

@{
    ViewData["Title"] = "Index";

}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Bio)</th>
        </tr>
    </thead>
</table>

<body>
@foreach (var patient in Model)
    {
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front ">
                <img src="~/images/@patient.ProfilePicture" alt="Avatar" style="height: 300px; width: 300px;">
            </div>
            <div class="flip-card-back " style="height: 300px; width: 300px;">
                <h1>@patient.FirstName</h1>
                    <p>@patient.Bio</p>
                    <a asp-action="Details" asp-route-id="@patient.Id">Details</a>
            </div>
        </div>
        </div>
    }
</body>
<<<<<<< HEAD

=======
>>>>>>> 7503a61f8a6f2aa84c0b33148eca7507ab7e5337
